{% extends "base.html" %}

{% block content %}
<!-- Link only this CSS to the People page -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/people.css') }}">
<div class="people-container">
  <h2>Meet the Team</h2>
  <h3>Gourmet Vibes–Group 12</h3>

  <div class="people-grid">
    <!-- First Row: 3 People -->
    <div class="people-row">
      <div class="person-card">
        <img src="{{ url_for('static', filename='images/Selin.jpeg') }}" class="person-photo">
        <h3><a href="https://www.linkedin.com/in/selinceydeli/?originalSubdomain=nl" target="_blank">Selin Ceydeli</a></h3>

      </div>
      <div class="person-card">
        <img src="{{ url_for('static', filename='images/Mees.jpeg') }}" class="person-photo">
        <h3><a href="https://www.linkedin.com/in/mees-c-169901291/" target="_blank">Mees Chammat</a></h3>
        <h3></h3>
        <p></p>
      </div>
      <div class="person-card">
        <img src="{{ url_for('static', filename='images/Phil.jpeg') }}" class="person-photo">
        <h3><a href="https://www.linkedin.com/in/philippe-henryy/?originalSubdomain=nl" target="_blank">Philippe Henry</a></h3>

        <p></p>
      </div>
    </div>

    <!-- Second Row: 2 People -->
    <div class="people-row">
      <div class="person-card">

        <img src="{{ url_for('static', filename='images/Ayush.jpeg') }}" class="person-photo">
        <h3><a href="https://www.linkedin.com/in/ayush-kuruvilla/?originalSubdomain=in" target="_blank">Ayush Kuruvilla</a></h3>
        <p></p>
      </div>
      <div class="person-card">
        <img src="{{ url_for('static', filename='images/Peter.jpeg') }}" class="person-photo">
        <h3><a href="https://www.linkedin.com/in/peter-huang-66a7451b6/" target="_blank">Pengxuan Huang</a></h3>
        <p></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
