{% extends "base.html" %}

{% block content %}
<!-- Link only this CSS to the People page -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/people.css') }}">
<div class="people-container">
  <h2>Meet the Team</h2>
  <h3>Gourmet Vibes–Group 12</h3>

  <div class="people-grid">
    <!-- First Row: 3 People -->
    <div class="people-row">
      <div class="person-card">
        <a href="{{ url_for('track_click', member_name='selin') }}" target="_blank" class="card-link">
          <img src="{{ url_for('static', filename='images/Selin.jpeg') }}" class="person-photo">
          <h3>Selin Ceydeli</h3>
        </a>
      </div>
      <div class="person-card">
        <a href="{{ url_for('track_click', member_name='mees') }}" target="_blank" class="card-link">
          <img src="{{ url_for('static', filename='images/Mees.jpeg') }}" class="person-photo">
          <h3>Mees Chammat</h3>
        </a>
      </div>
      <div class="person-card">
        <a href="{{ url_for('track_click', member_name='philippe') }}" target="_blank" class="card-link">
          <img src="{{ url_for('static', filename='images/Phil.jpeg') }}" class="person-photo">
          <h3>Philippe Henry</h3>
        </a>
      </div>
    </div>

    <!-- Second Row: 2 People -->
    <div class="people-row">
      <div class="person-card">
        <a href="{{ url_for('track_click', member_name='ayush') }}" target="_blank" class="card-link">
          <img src="{{ url_for('static', filename='images/Ayush.jpeg') }}" class="person-photo">
          <h3>Ayush Kuruvilla</h3>
        </a>
      </div>
      <div class="person-card">
        <a href="{{ url_for('track_click', member_name='peter') }}" target="_blank" class="card-link">
          <img src="{{ url_for('static', filename='images/Peter.jpeg') }}" class="person-photo">
          <h3>Pengxuan Huang</h3>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
